<script>
    function getSkaters() {
        // pagination = pagination + page
        $.ajax({
            url: `/api/nhl/stats/skaters`,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = "<tr>" +
                "<th></th>" +
                "<th>Player</th>" +
                "<th>Season</th>" +
                "<th>Team</th>" +
                "<th>S/C</th>" +
                "<th>Pos</th>" +
                "<th>GP</th>" +
                "<th>G</th>" +
                "<th>A</th>" +
                "<th>P</th>" +
                "<th>+/-</th>" +
                "<th>PIM</th>" +
                "<th>P/GP</th>" +
                "<th>EVG</th>" +
                "<th>EVP</th>" +
                "<th>PPG</th>" +
                "<th>PPP</th>" +
                "<th>SHG</th>" +
                "<th>SHP</th>" +
                "<th>OTG</th>" +
                "<th>GWG</th>" +
                "<th>S</th>" +
                "<th>S%</th>" +
                "<th>TOI/GP</th>" +
                "<th>FOW%</th>" +
                "</tr>";

                var i = 0
                $.each(response, function (i, player)
                {
                    trHTML += "<tr>" +
                    `<td>${ ++i }</td>` +
<!--                    `<td><a href=\"/api/nhl/players/${player.playerId}\">${ player.skaterFullName }</a></td>` +-->
                    `<td><button class="btn btn-link" data-toggle="modal" data-target="#player-modal" onclick=\"loadPlayerModal(${player.playerId})\">${ player.skaterFullName }</button></td>` +
                    `<td>${ player.seasonId }</td>` +
                    `<td>${ player.teamAbbrevs }</td>` +
                    `<td>${ player.shootsCatches }</td>` +
                    `<td>${ player.positionCode }</td>` +
                    `<td>${ player.gamesPlayed }</td>` +
                    `<td>${ player.goals }</td>` +
                    `<td>${ player.assists }</td>` +
                    `<td>${ player.points }</td>` +
                    `<td>${ player.plusMinus }</td>` +
                    `<td>${ player.penaltyMinutes }</td>` +
                    `<td>${ player.pointsPerGame }</td>` +
                    `<td>${ player.evGoals }</td>` +
                    `<td>${ player.evPoints }</td>` +
                    `<td>${ player.ppGoals }</td>` +
                    `<td>${ player.ppPoints }</td>` +
                    `<td>${ player.shGoals }</td>` +
                    `<td>${ player.shPoints }</td>` +
                    `<td>${ player.otGoals }</td>` +
                    `<td>${ player.gameWinningGoals }</td>` +
                    `<td>${ player.shots }</td>` +
                    `<td>${ player.shootingPct }</td>` +
                    `<td>${ player.timeOnIcePerGame }</td>` +
                    `<td>${ player.faceoffWinPct }</td>` +
                    "</tr>"
                });

                $('table#draft_table tbody').html(trHTML)
                $(".loader").remove();

            },
            type: 'GET'
        });
    }
    $(document).ready(getSkaters());



</script>

<div class="loader"></div>
{% include 'nhl/player/nhl_player_page_modal.html' %}
{% include 'nhl/fantasy/nhl_lineup_modal.html' %}
<div class="container-fluid" style="overflow-x:auto;">
    <table cellpadding="5px" class="table table-sm table-hover" id="draft_table">
        <tbody>
        </tbody>
    </table>
</div>