<script>
    $(document).ready(function() {
        $.ajax({
            url: '/api/drafts',
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = "<tr>" +
                "<th>Pick</th>" +
                "<th>Team</th>" +
                "<th>Player</th>" +
                "<th>Position</th>" +
                "<th>Average Rank </th>" +
                "<th><a href=\"https://www.eliteprospects.com/draft-center/2020/hockeyprospect.com\" title=\"Hockey Prospect\">HP</a></th>" +
                "<th><a href=\"https://www.eliteprospects.com/draft-center/2020/future-considerations\" title=\"Future Considerations\">FC</a></th>" +
                "<th><a href=\"https://www.eliteprospects.com/draft-center/2020/iss-hockey\" title=\"ISS Hockey\">ISS</a></th>" +
                "<th><a href=\"https://www.eliteprospects.com/draft-center/2020/mckeen-s-hockey\" title=\"Mckeen's Hockey\">MH</a></th>" +
                "<th><a href=\"https://www.eliteprospects.com/draft-center/2020/eliteprospects.com\" title=\"Elite Prospect\">Elite</a></th>" +
                "<th>odds (%)</th>" +
                "</tr>";


                $.each(response, function (i, draftpick)
                {   
                    trHTML += "<tr>" +
                    `<td>${ draftpick.pick }</td>` +
                    `<td>${ draftpick.team.name }</td>` +
                    `<td><a href=\"/prospects/${draftpick.player.id}\">${ draftpick.player.name }</a></td>` +
                    `<td>${ draftpick.player.position }</td>` +
                    `<td>${ draftpick.player.avg_rank }</td>` +
                    `<td>${ draftpick.player.hp }</td>` +
                    `<td>${ draftpick.player.fc }</td>` +
                    `<td>${ draftpick.player.iss }</td>` +
                    `<td>${ draftpick.player.mh }</td>` +
                    `<td>${ draftpick.player.elite }</td>` +
                    `<td>${ draftpick.odds }</td>` +
                    "</tr>"            
                });
                $('table#draft_table tbody').html(trHTML)
                $(".loader").remove();
            },
            type: 'GET'
        });
    });

</script>
<form action="/draftsimulator">
    <input type="submit" value="Resimulate"/>
</form>
<div class="loader"></div>
<table id="draft_table" cellpadding="5px" border="1">
    <tbody>
    </tbody>
</table>
