<nav class="navbar navbar-expand-sm navbar-light bg-white mx-auto" style="margin-bottom: 10px;">
    <div class="container justify-content-center">
        <a class="nav-item nav-link{% if page=='nhl_fantasy' %} active font-weight-bold{% endif %}" href="/nhl/fantasy">Fantasy Home</a>
        <a class="nav-item nav-link{% if page=='nhl_fantasy_draftboard' %} active font-weight-bold{% endif %}" href="/nhl/fantasy/draftboard">Draftboard</a>
        <a class="nav-item nav-link{% if page=='nhl_fantasy_streak' %} active font-weight-bold{% endif %}" href="/nhl/fantasy/streak">Fantasy Hot Streak</a>
    </div>
</nav>
