<script>
    function getDateCard(json, date) {
        var homeTeam = json == null ? "" : json.homeTeam.abbreviation
        var awayTeam = json == null ? "" : json.awayTeam.abbreviation
        var vs = json == null ? "" : "@"
        var score = json == null ? "" : `${json.awayTeam.score} - ${json.homeTeam.score}`
        var background = json == null ? "" : ` bg-secondary text-white`

        return `<div class="card${background}" style="width: 8rem; height: 7rem;">
                    <div class="card-body">
                        <small>
                            <h7 class="card-title" style = "display: flex; justify-content: flex-end" >${date}</h7>
                            <h9>${awayTeam} ${vs} ${homeTeam} </h9></br>
                            <h9>${score}</h9>
                        </small>
                    </div>
                </div>
        `
    }
    function getSchedule(teamId) {
        // pagination = pagination + page
        $.ajax({
            url: `/api/nhl/schedule/${teamId}`,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                console.log(JSON.stringify(response))
            },
            success: function(response) {
                const [year, month, day] = response.firstDay.split('-');
                var trHTML = "<tr>"

                var game_counter = 0
                for(var i=0; i<7; i++) {
                    var first_day = parseInt(day)
                    var games = response.teams[0].games
                    if(game_counter < games.length && games[game_counter].day === i){
                        trHTML = trHTML + `<td>${getDateCard(games[game_counter], month + "/"+ (first_day+i))}</td>`
                        game_counter++
                    }
                    else {
                        trHTML = trHTML + `<td>${getDateCard(null, month + "/"+ (first_day+i))}</td>`
                    }
                }
                trHTML = trHTML + "</tr>"

                $('table#schedule_table tbody').html(trHTML)
                    $(".loader").remove();

                },
                type: 'GET'
            });
        }




</script>
<h5>Weekly Schedule</h5>
<div class="container-fluid" style="overflow-x:auto;">
    <table cellpadding="5px" class="table table-borderless" id="schedule_table">
        <tbody>
        </tbody>
    </table>
</div>