<script>
    function loadPlayerPage() {
    var url = window.location.href
    var playerId = url.substring(url.lastIndexOf('/') + 1)
    console.log(playerId)
    $('table#player_info_table tbody').html("")
    $('h5#player_name').html("")
    $('table#player_stat_table tbody').html("")
    $.ajax({
            url: `/api/nhl/players/${playerId}`,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                player = response
                getPlayerGameLog(player.playerId, player.position)

                playerNameString = `<a href=\"/api/nhl/players/${player.playerId}\">${ player.fullName }</a>`
                var trHTML = "<tr>" +
                "<th colspan=\"2\">Team</th>" +
                `<th colspan=\"2\">${ player.team }</th>` +
                "</tr>";

                trHTML += "<tr>" +
                "<td>Date of Birth</td>" +
                `<td>${ player.birthDate }</td>` +
                "<td>Position</td>" +
                `<td>${ player.position }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>Age</td>" +
                `<td>${ player.currentAge }</td>` +
                "<td>Height</td>" +
                `<td>${ player.height }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>City</td>" +
                `<td>${ player.birthCity }</td>` +
                "<td>Weight</td>" +
                `<td>${ player.weight }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>Country</td>" +
                `<td>${ player.birthCountry }</td>` +
                "<td>Shoots</td>" +
                `<td>${ player.shootCatches }</td>` +
                "</tr>"

                var stats = ""
                if(player.stats[0] !== undefined){
                if(!(player.position).localeCompare('G')) {
                        var goalieStats = "<tr>" +
                        "<th></th><td>GP</td><td>GAA</td><td>SV%</td><td>WIN</td><td>LOSE</td><td>SO</td>" +
                        "</tr>"

                        player.stats.forEach(function(item){
                            goalieStats += "<tr>" +
                            `<td>${item.season}</td>` +
                            `<td>${item.stat.games}</td>` +
                            `<td>${item.stat.goalAgainstAverage}</td>` +
                            `<td>${item.stat.savePercentage}</td>` +
                            `<td>${item.stat.wins}</td>` +
                            `<td>${item.stat.losses}</td>` +
                            `<td>${item.stat.shutouts}</td>` +
                            "</tr>"
                        })

                        stats = goalieStats
                    }
                    else {
                        var playerStats = "<tr>" +
                        "<th></th><th>GP</th><th>G</th><th>A</th><th>TP</th><th>PIM</th><th>+/-</th>" +
                        "<th>PPG</th><th>PPP</th>" +
                        "<th>TOI</th><th>ETOI</th><th>SHTOI</th>" +
                        "<th>PPTOI</th>" +
                        "<th>SHOTS</th><th>HITS</th>" +
                        "</tr>"
                        player.stats.forEach(function(item){
                            playerStats += `<tr><td>${item.season}</td>` +
                            `<td>${item.stat.games}</td>` +
                            `<td>${item.stat.goals}</td>` +
                            `<td>${item.stat.assists}</td>` +
                            `<td>${item.stat.points}</td>` +
                            `<td>${item.stat.pim}</td>` +
                            `<td>${item.stat.plusMinus}</td>` +
                            `<td>${item.stat.powerPlayGoals}</td>` +
<!--                            `<td>${item.stat.powerPlayPoints - item.stat.powerPlayGoals}</td>` +-->
                            `<td>${item.stat.powerPlayPoints}</td>` +
                            `<td>${item.stat.timeOnIcePerGame}</td>` +
                            `<td>${item.stat.evenTimeOnIcePerGame}</td>` +
                            `<td>${item.stat.shortHandedTimeOnIcePerGame}</td>` +
                            `<td>${item.stat.powerPlayTimeOnIcePerGame}</td>` +
                            `<td>${item.stat.shots}</td>` +
                            `<td>${item.stat.hits}</td>` +
                            "</tr>"
                        })

                        stats = playerStats
                    }
                }

                $('table#player_info_table tbody').html(trHTML)
                $('h2#player_name').html(playerNameString)
                $('table#player_stat_table tbody').html(stats)

            },
            type: 'GET'
        });
    }
    $('h2#player_name').html("Hello")

    $(document).ready(loadPlayerPage());


</script>
<div class="container-fluid" style="overflow-x:auto;">
    <br>
    <h2 class="title" id="player_name"></h2>
    <br>
    <table class="table table-sm" id="player_info_table">
        <tbody>
        </tbody>
    </table>
</div>
<br>
<div class="container-fluid" style="overflow-x:auto;">
    <h5 class="async">Player Stats</h5>
    <table class="table table-sm table-hover" id="player_stat_table">
        <tbody>
        </tbody>
    </table>
    <br>
    <h5 class="async">Game Logs</h5>
    {% include 'nhl/player/nhl_player_game_log.html' %}
</div>