<script>
    function getBootstrapCardString(author, text, created_at) {
        return `<tr><div class=\"card\">
                  <div class=\"card-body\">
                    <h5 class=\"card-title\">${author}</h5>
                    <h6 class=\"card-subtitle mb-2 text-muted\">Card subtitle</h6>
                    <p class=\"card-text\">${text}</p>
                    <a href=\"#\" class=\"card-link\">${author}</a>
                    <a href=\"#\" class=\"card-link\">${created_at}</a>
                  </div>
                </div></tr>`
    }
    $(document).ready(function() {
        html = (getBootstrapCardString("author", "text", "created_at"))
        $.ajax({
            url: '/api/news',
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = ""

                $.each(response, function (i, news)
                {
                    trHTML += "<tr>" +
                    "<td><div class=\"card border-primary mb-3\" style=\"max-width: 36rem;\">" +
                    `<div class=\"card-header\">${news.author}</div>` +
                    "<div class=\"card-body text-primary\">" +
                    `<h5 class=\"card-title\">${news.text}</h5>` +
                    `<p class=\"card-text\">${news.created_at}</p>` +
                    "</div></div></td>" +
                    "</tr>"
                });
                console.log(trHTML)
                $('table#draft_table tbody').html(trHTML)
                $(".loader").remove();
                $('#refresh').removeAttr('hidden')
            },
            type: 'GET'
        });
    });







</script>
<div class="container" style="top-padding: 10px">
    <div class="alert alert-primary" role="alert">
        Home page has been revamped!
    </div>
    <div class="loader"></div>

    <table id="draft_table" cellpadding="5px" border="0">
        <tbody>
        </tbody>
    </table>
    <form action="/" hidden id="refresh" style="margin: 20px">
        <input class="btn btn-outline-primary" type="submit" value="Refresh News Feed"/>
    </form>
</div>
