<script>
    function loadPlayerModal(playerId) {
    console.log(playerId)
    $('table#player_info_table tbody').html("")
    $('h5#player_name').html("")
    $('table#player_stat_table tbody').html("")
    $.ajax({
            url: `/api/nhl/players/${playerId}`,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                player = response
                playerNameString = `<a href=\"/api/nhl/players/${player.playerId}\">${ player.fullName }</a>`
                var trHTML = "<tr>" +
                "<th colspan=\"2\">Team</th>" +
                `<td colspan=\"2\">${ player.team }</td>` +
                "</tr>";

                trHTML += "<tr>" +
                "<td>Date of Birth</td>" +
                `<td>${ player.birthDate }</td>` +
                "<td>Position</td>" +
                `<td>${ player.position }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>Age</td>" +
                `<td>${ player.currentAge }</td>` +
                "<td>Height</td>" +
                `<td>${ player.height }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>City</td>" +
                `<td>${ player.birthCity }</td>` +
                "<td>Weight</td>" +
                `<td>${ player.weight }</td>` +
                "</tr>" +
                "<tr>" +
                "<td>Country</td>" +
                `<td>${ player.birthCountry }</td>` +
                "<td>Shoots</td>" +
                `<td>${ player.shootCatches }</td>` +
                "</tr>"

                var stats = ""
                if(player.stats[0] !== undefined){
                if(!(player.position).localeCompare('G')) {
                        var goalieStats = "<tr>" +
                        "<th></th><td>GP</td><td>GAA</td><td>SV%</td><td>WIN</td><td>LOSE</td><td>SO</td>" +
                        "</tr>" +
                        "<tr>" +
                        `<td>${player.stats[0].season}</td>` +
                        `<td>${player.stats[0].stat.games}</td>` +
                        `<td>${player.stats[0].stat.goalAgainstAverage}</td>` +
                        `<td>${player.stats[0].stat.savePercentage}</td>` +
                        `<td>${player.stats[0].stat.wins}</td>` +
                        `<td>${player.stats[0].stat.losses}</td>` +
                        `<td>${player.stats[0].stat.shutouts}</td>` +
                        "</tr>"

                        stats = goalieStats
                    }
                    else {
                        var playerStats = "<tr>" +
                        "<th></th><td>GP</td><td>G</td><td>A</td><td>TP</td><td>PIM</td><td>+/-</td>" +
                        "</tr>" +
                        "<tr>" +
                        `<td>${player.stats[0].season}</td>` +
                        `<td>${player.stats[0].stat.games}</td>` +
                        `<td>${player.stats[0].stat.goals}</td>` +
                        `<td>${player.stats[0].stat.assists}</td>` +
                        `<td>${player.stats[0].stat.points}</td>` +
                        `<td>${player.stats[0].stat.pim}</td>` +
                        `<td>${player.stats[0].stat.plusMinus}</td>` +
                        "</tr>"

                        stats = playerStats
                    }
                }




                $('table#player_info_table tbody').html(trHTML)
                $('h5#player_name').html(playerNameString)
                $('table#player_stat_table tbody').html(stats)

            },
            type: 'GET'
        });
    }
    function loadRosterByTeamId(id, teamName) {
        $.ajax({
            url: `/api/nhl/rosters/${id}`,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = "<tr>" +
                "<th></th>" +
                "<th>Position</th>" +
                "<th>Player</th>" +
                "</tr>";

                $.each(response, function (i, rosterplayer)
                {
                    trHTML += "<tr>" +
                    `<td>${ rosterplayer.jerseyNumber }</td>` +
                    `<td>${ rosterplayer.position }</td>` +
                    `<td><button class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick=\"loadPlayerModal(${rosterplayer.playerId})\">${ rosterplayer.fullName }</button></td>` +
                    "</tr>"
                });
                $('table#draft_table tbody').html(trHTML)
                $('h1#team_name a').html(teamName)
            },
            type: 'GET'
        });
    }
    $(document).ready(function() {

    });



</script>


<div class="container">
    <div class="alert alert-primary" role="alert">
        New Team Rosters Page!
    </div>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <button type="button" class="btn btn-outline-primary btn-block navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            NHL Teams
        </button>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for team in teams %}
                <li class="nav-item list-group-item list-group-item-action">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                       onclick="loadRosterByTeamId({{team.id}},'{{team.name}}')">{{team.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <h1 id="team_name"><a></a></h1>
    <table id="draft_table" cellpadding="5px" border="1">
        <tbody>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="player_name"></h5>
            </div>
            <div class="modal-body">
                <table border="1" cellpadding="5px" id="player_info_table">
                    <tbody>
                    </tbody>
                </table>
                <br>
                <table border="1" cellpadding="5px" id="player_stat_table">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>

    </div>
</div>