<script src="{{url_for('static', filename='cookiehandler.js')}}"></script>
<script>
    function getPlayersInCookie(cookie_name) {
        var value = getCookie(cookie_name)
        return (value == "") ? [] : JSON.parse(value)[cookie_name]
    }
    function savePlayerInCookie(id, name, cookie_name) {
        var cookies = getCookie(cookie_name)
        var json = {}

        var inner = {}
        inner["id"] = id
        inner["name"] = name

        var newProspects = (cookies == "") ? [] : JSON.parse(cookies)[cookie_name]
        var position = newProspects.findIndex(obj => {
            return obj.id === id
        })
        if ( position == -1  ) newProspects.push(inner)

        json[cookie_name] = newProspects
        setCookie(cookie_name, JSON.stringify(json))
    }

    function removePlayerInCookie(id, cookie_name) {
        var cookies = getCookie(cookie_name)
        var json = {}
        var newProspects = (cookies == "") ? [] : JSON.parse(cookies)[cookie_name]
        var position = newProspects.findIndex(obj => {
            return obj.id === id
        })
        if ( position != -1  ) newProspects.splice(position, 1)

        json[cookie_name] = newProspects
        setCookie(cookie_name, JSON.stringify(json))
    }

    function togglePlayerRowById(id, name="") {
        color = "#aed0f5"
        rgb = document.getElementById(id.toString()).style.backgroundColor
        actual_color = rgb.substring(4, rgb.length-1)
         .replace(/ /g, '')
         .split(',')[0]

        if (actual_color == (color) || actual_color != "") {
            document.getElementById(id.toString()).style.backgroundColor = "white";
            removePlayerInCookie(id, "fantasy_players")
        }
        else{
            document.getElementById(id.toString()).style.backgroundColor = color;
            savePlayerInCookie(id, name, "fantasy_players")
        }
    }

    function toggleFavoritePlayerById(id) {
        button = document.getElementById("star_button_" + id.toString())
        if (button.classList.contains('active')) {
            removePlayerInCookie(id, "", "fantasy_favorites")
            button.classList.remove("active")
        }
        else {
            savePlayerInCookie(id, "", "fantasy_favorites")
            button.classList.add("active")
        }
    }

    function searchValueInTable(value = null) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");

        filter = (value == null) ? input.value.toUpperCase() : value.toUpperCase()
        cellId = (value == null || value == "") ? 1 : 2 // name: 1, position: 2

        table = document.getElementById("draft_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[cellId];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function buildFantasyUrlQueryParam() {
          var positions = document.forms[0];
          var txt = "";
          var first = true;
          if (positions === undefined) return ""
          for (i = 0; i < positions.length; i++) {
                if (positions[i].checked) {
                    symbol = (first) ? '?' : '&'
                    first = false
                    txt += `${symbol}position=${positions[i].value}`;
                }
          }
          return txt
    }
    function getFantasyPlayerPage(sort="fantasy") {
        url = `/api/nhl/fantasy` + buildFantasyUrlQueryParam()
        $.ajax({
            url: url,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                alert(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = "<tr>" +
                "<th></th>" +
                "<th>Player</th>" +
                "<th>Team</th>" +
                "<th>Position</th>" +
                "<th>Grade</th>" +
                "<th>Avg Pick</th>" +
                "<th>Avg Round</th>" +
                "<th>Percent Drafted</th>" +
                "<th></th>" +
                "<th></th>" +
                "</tr>";

                var i = 0
                // sort response by ascending avg_rank
                if(sort == "yahoo") {
                response.sort(function(a, b) {
                    return (a.avgPick===null)-(b.avgPick===null) || +(a.avgPick>b.avgPick)||-(a.avgPick<b.avgPick);
                })
                }
                else {
                    response.sort(function(a, b) {
                        return (a.fantasyGrade===null)-(b.fantasyGrade===null) || +(a.fantasyGrade<b.fantasyGrade)||-(a.fantasyGrade>b.fantasyGrade);
                    })
                }

                fantasy_players_cookie = getPlayersInCookie('fantasy_players')
                fantasy_favorites_cookie = getPlayersInCookie('fantasy_favorites')
                color = "#aed0f5"
                $.each(response, function (i, fantasy_player)
                {
                    style = ""
                    if(fantasy_players_cookie.filter(function(e) { return e.id === fantasy_player.playerId; }).length > 0) {
                        style = ` style="background-color: ${ color };"`
                    }
                    active_class = ""
                    if(fantasy_favorites_cookie.filter(function(e) { return e.id === fantasy_player.playerId; }).length > 0) {
                        active_class = "active"
                    }
                    player_position_display = (fantasy_player.yahooEligibility == null) ? fantasy_player.positionCode : fantasy_player.yahooEligibility
                    trHTML += `<tr id=\'` + fantasy_player.playerId + `\' ${ style } >` +
                    `<td>${ ++i }</td>` +
                    `<td><button class="btn btn-link" data-toggle="modal" data-target="#player-modal" onclick=\"loadPlayerModal(${fantasy_player.playerId})\">${ fantasy_player.skaterFullName }</button></td>` +
                    `<td><button class="btn btn-link" data-toggle="modal" data-target="#team-modal" onclick=\"loadTeamModal(${fantasy_player.teamId})\">${ fantasy_player.teamName }</button></td>` +
                    `<td>${ player_position_display }</td>` +
                    `<td>${ fantasy_player.fantasyGrade }</td>` +
                    `<td>${ fantasy_player.avgPick }</td>` +
                    `<td>${ fantasy_player.avgRound }</td>` +
                    `<td>${ fantasy_player.percentDrafted }</td>` +
                    `<td><button class="btn btn-outline-primary ${active_class}" data-toggle="button" data-target="#star_button_${ fantasy_player.playerId } id="star_button_${ fantasy_player.playerId }" onclick=toggleFavoritePlayerById(${ fantasy_player.playerId })>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    </button></td>` +
                    `<td><button class="btn btn-outline-primary" onclick=togglePlayerRowById(${ fantasy_player.playerId })>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                    </button></td>` +
                    "</tr>"

                });

                $('table#draft_table tbody').html(trHTML)
                $(".loader").remove();

            },
            type: 'GET'
        });
    }
    $(document).ready(getFantasyPlayerPage());




</script>
{% include 'nhl/player/nhlplayerpagemodal.html' %}
{% include 'nhl/fantasy/nhllineupmodal.html' %}
<div class="loader"></div>
<div class="container-fluid">
    <div class="draftcenter_prospect_table" style="width: 100%; overflow:auto;">
        <table border="1" cellpadding="5px" id="draft_table">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

