<div class="container-fluid">

    <div id="searchbar" style="background-color: white">
        <h2>Fantasy Player List</h2>
        <tr>
            <input class="search form-control" id="myInput" onkeyup="searchValueInTable()"
                   placeholder="Search player's name"
                   title="Type in a name"
                   type="text">
            <a aria-controls="advanced_search" aria-expanded="false" class="btn btn-sm btn-outline-dark"
               data-target="#advanced_search"
               data-toggle="collapse" type="button">Toggle Advanced Search</a>
            <a aria-controls="advanced_search" aria-expanded="false" class="btn btn-sm btn-danger"
               onclick="clearAdvancedSearchField()" type="button">Clear Advanced Search</a>
            <button class="btn btn-sm btn-dark" onclick="getFantasyPlayerPage('favorite')" type="button"
                    value="Get Favorite">Get Favorite
            </button>
            <button class="btn btn-sm btn-dark" onclick="getFantasyPlayerPage('watchlist')" type="button"
                    value="Get WatchList">Get WatchList
            </button>
            <button class="btn btn-sm btn-dark" onclick="getFantasyPlayerPage('draftboard')" type="button"
                    value="Get DraftBoard">Get Draftboard
            </button>
            <button class="btn btn-sm btn-primary" data-target="#players-stat-modal" data-toggle="modal"
                    onclick="getNhlPlayersLeaderStatModal('D')" type="button">D
            </button>
            <button class="btn btn-sm btn-primary" data-target="#players-stat-modal" data-toggle="modal"
                    onclick="getNhlPlayersLeaderStatModal('F')" type="button">F
            </button>
        </tr>
        <br/>
        <tr>{% include 'nhl/fantasy/fantasy_advance_search.html' %}</tr>
        <br/>

        <form action="" class="form-check">
            <tr>
                <div class="form-check checkboxes btn-group-toggle" data-toggle="buttons">
                    <label class="form-check-label btn btn-outline-secondary" for="L">
                        <input class="checkbox-inline" id="L" name="positions" type="checkbox" value="L">
                        L
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="C">
                        <input class="checkbox-inline" id="C" name="positions" type="checkbox" value="C">
                        C
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="R">
                        <input class="checkbox-inline" id="R" name="positions" type="checkbox" value="R">
                        R
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="D">
                        <input class="checkbox-inline" id="D" name="positions" type="checkbox" value="D">
                        D
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="G">
                        <input class="checkbox-inline" id="G" name="positions" type="checkbox" value="G">
                        G
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="Favorite">
                        <input class="checkbox-inline" id="Favorite" name="positions" type="checkbox"
                               value="Favorite">
                        <svg class="bi bi-star" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="Watchlist">
                        <input class="checkbox-inline" id="Watchlist" name="positions" type="checkbox"
                               value="Watchlist">

                        <svg class="bi bi-eyeglasses" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                        </svg>
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="Draftboard">
                        <input class="checkbox-inline" id="Draftboard" name="positions" type="checkbox"
                               value="Draftboard">
                        <svg class="bi bi-clipboard-check" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                                  fill-rule="evenodd"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </label>
                </div>
            </tr>
            <br/>

            <tr>

                <input class="btn btn-sm btn-outline-primary" onclick="getFantasyPlayerPage()" type="button"
                       value="Filter By Score">
                <input class="btn btn-sm btn-outline-primary" onclick="getFantasyPlayerPage('nhl')" type="button"
                       value="Filter By NHL.com">
                <input class="btn btn-sm btn-outline-primary" onclick="getFantasyPlayerPage('yahoo')" type="button"
                       value="Filter By Yahoo">
                <button class="btn btn-sm btn-primary" data-target="#yahoo-roster-modal" data-toggle="modal"
                        type="button">
                    Save Yahoo Rosters
                </button>
                <button class="btn btn-sm btn-secondary" data-target="#cookie-list-modal" data-toggle="modal"
                        onclick="getCookieForTextArea()" type="button">
                    Save Lists
                </button>
                <br/>
            </tr>
        </form>
        <br/>
    </div>
</div>
