<div class="container-fluid">

    <div id="searchbar" style="background-color: white">
        <h2>Fantasy Player List</h2>
        <tr>
            <input class="search form-control" id="myInput" onkeyup="searchValueInTable()"
                   placeholder="Search player's name"
                   title="Type in a name"
                   type="text">
            <a aria-controls="advanced_search" aria-expanded="false" class="btn btn-outline-dark"
               data-target="#advanced_search"
               data-toggle="collapse" type="button">Toggle Advanced Search</a>
        </tr>
        <br/>
        <tr>{% include 'nhl/fantasy/fantasy_advance_search.html' %}</tr>
        <br/>

        <form action="" class="form-check">
            <tr>
                <div class="form-check checkboxes btn-group-toggle" data-toggle="buttons">
                    <label class="form-check-label btn btn-outline-secondary" for="L">
                        <input class="checkbox-inline" id="L" name="positions" type="checkbox" value="L">
                        LEFT WING
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="C">
                        <input class="checkbox-inline" id="C" name="positions" type="checkbox" value="C">
                        CENTER
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="R">
                        <input class="checkbox-inline" id="R" name="positions" type="checkbox" value="R">
                        RIGHT WING
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="D">
                        <input class="checkbox-inline" id="D" name="positions" type="checkbox" value="D">
                        DEFENSEMAN
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="G">
                        <input class="checkbox-inline" id="G" name="positions" type="checkbox" value="G">
                        GOALIE
                    </label>
                    <label class="form-check-label btn btn-outline-secondary" for="Favorite">
                        <input class="checkbox-inline" id="Favorite" name="positions" type="checkbox"
                               value="Favorite">
                        FAVORITES
                    </label>
                </div>
            </tr>
            <br/>
            <tr>
                <input class="btn btn-outline-primary" onclick="getFantasyPlayerPage()" type="button"
                       value="Filter By Score">
                <input class="btn btn-outline-primary" onclick="getFantasyPlayerPage('yahoo')" type="button"
                       value="Filter By Yahoo">
                <br/>
            </tr>
        </form>

        <br/>
    </div>
</div>
