<script src="{{url_for('static', filename='cookiehandler.js')}}"></script>
<script src="{{url_for('static', filename='fantasycookiehandler.js')}}"></script>
<script>
    function togglePlayerRowById(data) {
        id = data[0]
        cookie_name = data[1]

        color = "#aed0f5"
        rgb = document.getElementById(id.toString()).style.backgroundColor
        actual_color = rgb.substring(4, rgb.length-1)
         .replace(/ /g, '')
         .split(',')[0]

        if (actual_color == (color) || actual_color != "") {
            document.getElementById(id.toString()).style.backgroundColor = "white";
            removePlayerInCookie(id, cookie_name)
        }
        else{
            document.getElementById(id.toString()).style.backgroundColor = color;
            savePlayerInCookie(id, cookie_name)
        }
    }

    function searchValueInTable(value = null) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");

        filter = (value == null) ? input.value.toUpperCase() : value.toUpperCase()
        cellId = (value == null || value == "") ? 1 : 2 // name: 1, position: 2

        table = document.getElementById("draft_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[cellId];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function buildSortQueryParam(sort) {
        return `?sort=${ sort }`
    }
    function buildFantasyUrlQueryParam() {
          var positions = document.forms[2];
          var txt = "";
          var first = true;
          if (positions === undefined) return ""
          for (i = 0; i < positions.length; i++) {
                if (['C','L','R','D','G'].indexOf(positions[i].value) < 0) {
                    continue
                }
                if (positions[i].checked) {
                    symbol = (first) ? '?' : '&'
                    first = false
                    txt += `${symbol}position=${positions[i].value}`;
                }
          }
          var percentiles = document.forms[1];

          if (percentiles === undefined) {
            return txt
          }
          for (i = 0; i < percentiles.length; i++) {
                console.log(percentiles[i].value)
                if (['shotPercentile','hitPercentile','blockPercentile','assistPercentile',
                    'pointPercentile', 'toiPercentile', 'pptoiPercentile', 'evtoiPercentile']
                    .indexOf(percentiles[i].name) < 0) {
                    continue
                }
                if (percentiles[i].value !="") {
                    symbol = (first) ? '?' : '&'
                    first = false
                    txt += `${symbol}${percentiles[i].name}=${percentiles[i].value}`;
                }
          }
          return txt
    }
    function checkFavoriteToggleOn() {
        var toggles = document.forms[2]
        if (toggles === undefined) return false
        for (i = 0; i < toggles.length; i++) {
                if (toggles[i].checked && toggles[i].value == 'Favorite') {
                    return true
                }
          }
        return false
    }
    function checkWatchListToggleOn() {
        var toggles = document.forms[2]
        if (toggles === undefined) return false
        for (i = 0; i < toggles.length; i++) {
                if (toggles[i].checked && toggles[i].value == 'Watchlist') {
                    return true
                }
          }
        return false
    }
    function checkToggleOnForFilter(toggle_name) {
        var toggles = document.forms[2]
        if (toggles === undefined) return false
        for (i = 0; i < toggles.length; i++) {
                if (toggles[i].checked && toggles[i].value == "Draftboard") {
                    return true
                }
          }
        return false
    }
    function moveRowUp(current_row, cookiename) {
        var row = current_row.parentNode.parentNode,
        sibling = row.previousElementSibling,
        parent = row.parentNode;

        if(row.rowIndex > 1) {
            parent.insertBefore(row, sibling)
            var playerId1 = row.id
            var playerId2 = sibling.id
            console.log(`${cookiename}: moving ${playerId1} with ${playerId2}`)
            moveUpPlayerInCookie(playerId1, playerId2, cookiename)
        }
    }

    function getFantasyPlayerPage(sort="fantasy", yahoo_rosters=[]) {
        url = `/api/nhl/fantasy` + buildFantasyUrlQueryParam()
        $.ajax({
            url: url,
            crossDomain: true,
            dataType: "json",
            error: function(response) {
                console.log(JSON.stringify(response))
            },
            success: function(response) {
                var trHTML = "<tr>" +
                "<th></th>" +
                "<th>Player</th>" +
                "<th>Team</th>" +
                "<th>Position</th>" +
                "<th>Score</th>" +
                "<th>Nhl Rank</th>" +
                "<th>Yahoo Avg</th>" +
                "<th>Avg Round</th>" +
                "<th>Percent Drafted</th>" +
                `<th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>P</th>
                <th>+/-</th>
                <th>PPG</th>
                <th>PPP</th>
                <th>S</th>
                <th>HIT</th>
                <th>BLK</th>` +
                "<th></th>" +
                "<th></th>" +
                "<th></th>" +
                "<th></th>" +
                "</tr>";

                var table_id = 0
                // sort response by ascending avg_rank

                var reorderable = (sort == "favorite" || sort == "watchlist" || sort == "draftboard" ) ? true : false

                var td_reoder_attribute = reorderable ?
                 `<td><button type="button" onclick="moveRowUp(this, '${sort}_fantasy_player')" class="btn btn-sm btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    </button></td>`
                 : ""

                fantasy_favorites_cookie = getPlayersInCookie('favorite_fantasy_player')
                fantasy_watchlist_cookie = getPlayersInCookie('watchlist_fantasy_player')
                fantasy_draftboard_cookie = getPlayersInCookie('draftboard_fantasy_player')

                favoriteOn = checkFavoriteToggleOn()
                watchlistOn = checkWatchListToggleOn()
                draftboardOn = checkToggleOnForFilter('Draftboard')

                if(sort == "yahoo") {
                    response.sort(function(a, b) {
                        return (a.avgPick===null)-(b.avgPick===null) || +(a.avgPick>b.avgPick)||-(a.avgPick<b.avgPick);
                    })
                }
                else if(sort == "nhl") {
                    response.sort(function(a, b) {
                        if(a.nhlRank == null && b.nhlRank == null) {
                            return (a.avgPick===null)-(b.avgPick===null) || +(a.avgPick>b.avgPick)||-(a.avgPick<b.avgPick);
                        }
                        else {
                            return (a.nhlRank===null)-(b.nhlRank===null) || +(a.nhlRank>b.nhlRank)||-(a.nhlRank<b.nhlRank);
                        }
                    })
                }
                else if(sort == "favorite") {
                    favoriteOn = true
                    response.sort(function(a, b) {
                        return fantasy_favorites_cookie.indexOf(a.playerId) - fantasy_favorites_cookie.indexOf(b.playerId);
                    })
                }
                else if(sort == "watchlist") {
                    watchlistOn = true
                    response.sort(function(a, b) {
                        return fantasy_watchlist_cookie.indexOf(a.playerId) - fantasy_watchlist_cookie.indexOf(b.playerId);
                    })
                }
                else if(sort == "draftboard") {
                    draftboardOn = true
                    response.sort(function(a, b) {
                        return fantasy_draftboard_cookie.indexOf(a.playerId) - fantasy_draftboard_cookie.indexOf(b.playerId);
                    })
                }
                else {
                    response.sort(function(a, b) {
                        return (a.fantasyGrade===null)-(b.fantasyGrade===null) || +(a.fantasyGrade<b.fantasyGrade)||-(a.fantasyGrade>b.fantasyGrade);
                    })
                }

                fantasy_players_cookie = [].concat(getPlayersInCookie('fantasy_c'), getPlayersInCookie('fantasy_l'), getPlayersInCookie('fantasy_r'), getPlayersInCookie('fantasy_d'), getPlayersInCookie('fantasy_g'), getPlayersInCookie('fantasy_na'))

                color = "#aed0f5"

                $.each(response, function (i, fantasy_player)
                {

                    if ((favoriteOn && fantasy_favorites_cookie.indexOf(fantasy_player.playerId) < 0) ||
                        (watchlistOn && fantasy_watchlist_cookie.indexOf(fantasy_player.playerId) < 0) ||
                        (draftboardOn && fantasy_draftboard_cookie.indexOf(fantasy_player.playerId) < 0)) {
                        return true;
                    }
                    player_nhl_position = fantasy_player.positionCode.toLowerCase()
                    player_nhl_position = ['c','l','r','d','g'].indexOf(player_nhl_position) >= 0 ? player_nhl_position : 'na'

                    cookie_string_for_player = `fantasy_${player_nhl_position}`
                    style = ""
                    selected = ""
                    if(fantasy_players_cookie.filter(function(id) { return id === fantasy_player.playerId; }).length > 0) {
                        style = ` style="background-color: ${ color };"`
                        selected = "active"
                    }
                    active_class = ""
                    if(fantasy_favorites_cookie.filter(function(id) { return id === fantasy_player.playerId; }).length > 0) {
                        active_class = "active"
                    }
                    active_class_2 = ""
                    if(fantasy_watchlist_cookie.filter(function(id) { return id === fantasy_player.playerId; }).length > 0) {
                        active_class_2 = "active"
                    }
                    active_class_3 = ""
                    if(fantasy_draftboard_cookie.filter(function(id) { return id === fantasy_player.playerId; }).length > 0) {
                        active_class_3 = "active"
                    }
                    if(yahoo_rosters.indexOf(fantasy_player.skaterFullName) >= 0){
                        style = ` style="background-color: ${ color };"`
                        selected = "active"
                        console.log(fantasy_player.playerId, cookie_string_for_player)
                        savePlayerInCookie(fantasy_player.playerId, cookie_string_for_player)
                    }
                    player_position_display = (fantasy_player.yahooEligibility == null) ? fantasy_player.positionCode : fantasy_player.yahooEligibility
                    trHTML += `<tr id=\'` + fantasy_player.playerId + `\' ${ style } >` +
                    `<td>${ ++table_id }</td>` +
                    // `<td><button class="btn btn-sm btn-outline-primary ${active_class}" data-toggle="button" data-target="#star_button_${ fantasy_player.playerId } id="star_button_${ fantasy_player.playerId }" onclick=toggleFavoritePlayerById(${ fantasy_player.playerId })>

                    `<td><button class="btn btn-sm btn-link" data-toggle="modal" data-target="#player-modal" onclick=\"loadPlayerModal(${fantasy_player.playerId})\">${ fantasy_player.skaterFullName }</button></td>` +
                    `<td><button class="btn btn-sm btn-link" data-toggle="modal" data-target="#team-modal" onclick=\"loadTeamModal(${fantasy_player.teamId})\">${ fantasy_player.teamName }</button></td>` +
                    `<td>${ player_position_display }</td>` +
                    `<td>${ fantasy_player.fantasyGrade }</td>` +
                    `<td>${ fantasy_player.nhlRank }</td>` +
                    `<td>${ fantasy_player.avgPick }</td>` +
                    `<td>${ fantasy_player.avgRound }</td>` +
                    `<td>${ fantasy_player.percentDrafted }</td>` +
                    `<td>${ fantasy_player.stat.games }</td>
                    <td>${ fantasy_player.stat.goals }</td>
                    <td>${ fantasy_player.stat.assists }</td>
                    <td>${ fantasy_player.stat.points }</td>
                    <td>${ fantasy_player.stat.plusMinus }</td>
                    <td>${ fantasy_player.stat.powerPlayGoals }</td>
                    <td>${ fantasy_player.stat.powerPlayPoints }</td>
                    <td>${ fantasy_player.stat.shots }</td>
                    <td>${ fantasy_player.stat.hits }</td>
                    <td>${ fantasy_player.stat.blocked }</td>` +
                    `<td>
                        <button type="button" id="star_button_${ fantasy_player.playerId }" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="addFavoritePlayerById(${fantasy_player.playerId})" class="btn btn-sm btn-outline-primary ${active_class}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" id="glass_button_${ fantasy_player.playerId }" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="addWatchListPlayerById(${fantasy_player.playerId})" class="btn btn-sm btn-outline-primary ${active_class_2}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                            <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button type="button" id="check_button_${ fantasy_player.playerId }" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="addDraftBoardListPlayerById(${fantasy_player.playerId})" class="btn btn-sm btn-outline-primary ${active_class_3}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </button>
                    </td>`+
                    `<td><button type="button" class="btn btn-sm btn-outline-primary ${ selected }" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="togglePlayerRowById([` + fantasy_player.playerId + `, '${cookie_string_for_player}'])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                    </button></td>` +
                    td_reoder_attribute +
                    "</tr>"

                });

                $('table#draft_table tbody').html(trHTML)
                $(".loader").remove();

            },
            type: 'GET'
        });
    }
    $(document).ready(getFantasyPlayerPage());






</script>
<!-- Add modals here -->
{% include 'nhl/player/nhl_player_page_modal.html' %}
{% include 'nhl/fantasy/nhl_lineup_modal.html' %}
{% include 'nhl/stats/nhl_stat_modal.html' %}

{% include 'nhl/fantasy/cookielist/cookie_list_popup.html' %}
{% include 'nhl/fantasy/yahoo/yahoo_roster_parser.html' %}
<div class="loader"></div>
<div class="container-fluid">
    <div class="draftcenter_prospect_table" style="width: 100%; overflow:auto;">
        <table cellpadding="5px" class="table table-sm table-hover" id="draft_table">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

