<div class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-white"
         style="background-color: white; height: 10%;">
        <div class="container justify-content-center">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/prospects">Prospects</a>
            <a class="nav-item nav-link" href="/draftcenter">Draft Center</a>
            <a class="nav-item nav-link" href="/draftsimulator">Draft Simulator</a>
            <a class="nav-item nav-link" href="/nhl/stats/skater">NHL</a>
            <a class="nav-item nav-link" href="/nhl/fantasy">NHL Fantasy <span
                    class="badge badge-primary">new</span></a>
            <form action="/nhl/players" class="form-inline">
                <input aria-label="Search" class="form-control mr-sm-2" name="search" placeholder="Search"
                       required type="search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </nav>
    {% if (page=="nhl_roster" or page=="nhl_stats_skater") %}
    {% include 'nhl/nhl_nav.html' %}
    {% endif %}
    {% if (page=="nhl_fantasy") %}
    {% include 'nhl/fantasy/fantasysearchmenu.html' %}
    {% endif %}
</div>

