<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white" style="margin-bottom: 10px;">
    <div class="container">
        <a class="nav-item nav-link" href="/">Home <span class="badge badge-primary">new</span></a>
        <a class="nav-item nav-link" href="/prospects">Prospects</a>
        <a class="nav-item nav-link" href="/draftcenter">Draft Center</a>
        <a class="nav-item nav-link" href="/draftsimulator">Draft Simulator</a>
        <a class="nav-item nav-link" href="/nhl/roster">NHL Roster <span class="badge badge-primary">new</span></a>
    </div>
</nav>

